@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: montserrat;
}

.gif-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: repeat(auto-fill, minmax(150px, auto)); 
} 

.single-gif:nth-child(3n+1) {
    height: 150px;
}

.single-gif:nth-child(3n+2) {
    height: 300px;
    grid-row-start: span 2
}

.single-gif:nth-child(3n) {
    height: 150px;
}

.gif-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
